
*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #09203f 0%,#537895 100%);
}

#titulo{
    position: relative;
    right: -3em;
    margin-left: 10%;
    font-size: 30px;
    font-style: oblique;
}

.practico{
    height: 50px;
    padding: 5px 50px;
    margin-left: 10%;
    font-weight: bold;
    margin-top: 10%;
}

.teorico{
    height: 50px;
    padding: 5px 50px;
    margin-left: 30%;
    font-weight: bold;
    margin-top: 10%;
}

.inputPractico{
    margin-left: 5%;
}

.grafico{
    position: relative;
    top: -10em;
    width: 40em;
    height: 25em;
    margin-left: 30%;
    margin-right: 10%;
    border: 1px solid;
    background-color: white;
}