
*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #09203f 0%,#537895 100%);
}

#titulo{
    text-align: center;
    font-size: 30px;
    font-style: oblique;
}
/*Botón Práctico*/
.practico{
    height: 50px;
    padding: 5px 50px;
    margin-left: 10%;
    font-weight: bold;
    margin-top: 10%;
}
/*Botón Teórico*/
.teorico{
    height: 50px;
    padding: 5px 50px;
    margin-left: 30%;
    font-weight: bold;
    margin-top: 10%;
}

.inputPractico{
    margin-left: 5%;
}

.grafico{
    position: absolute;
    top: 10em;
    width: 40em;
    height: 25em;
    margin-left: 30%;
    margin-right: 10%;
    border: 1px solid;
    background-color: white;
}

.desarrollo{
    position: absolute;
    color: white;
    margin-left: 3em;
    margin-top: 20px;
    font-size: 20px;
}
a:link{
    color: white;
}
a:visited{
    color:white;
}
.volver{
    position: fixed;
    bottom: 1em;
    font-size: 20px;
}